body{
    padding: 100px;
}
/* .bank-title{
    text-align: center;
} */  
.submit-area{
    margin-top: 50px;
    border-radius: 10px;
    box-shadow:5px 5px 20px rgba(136, 110, 110, 0.3);
    padding: 40px;
    
}
#transaction-area{
    display: none;
}
.status {
    margin: 0 20px;
    color: white;
    padding: 20px;
    border-radius: 15px;
}
.deposit{
    background-color:tomato; 
}
.withdraw{
    background-color:slateblue;
}
.balance{
    background-color:orange
}
.